<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- HERE YOU NEED TO ADD YOUR API KEY. You can get a trial key for free here: https://azure.microsoft.com/en-us/try/cognitive-services/?api=search-api-v7 
    --> <add key="key" value="" />

    <!-- 
    HERE YOU CAN PUT THE URL OF YOUR AZURE CONTAINER IN ORDER TO HAVE ACCESS OF IT IN THE APP
    Because we are in xml you need to replace characters, like " ' < > & with xml entity replacement:
    " -> &quot;
    ' -> &apos;
    < -> &lt;
    > -> &gt;
    & -> &amp;
    --> <add key="azureContainerSASUrlEscaped" value="YOURAZUREACCOUNTGOESHERE" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>